* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: rgb(168, 168, 168);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 825px;
  
}

.textarea {
  flex-grow: 1;
  height: 200px;
  background-color: rgb(114, 114, 114);
  color: rgb(202, 202, 202);
  resize: none;
  margin: 3px;
  border: solid rgb(253, 253, 253) 1px;
  padding: 10px;
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.336);
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.button {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 2px;
  justify-content: center;
  align-items: center;
  color: rgb(100, 100, 100);
  border-radius: 5px;
  background-color: rgb(196, 196, 196);
  font-weight: 600;
  user-select: none;
  transition: all ease 0.3s;
  cursor: pointer;
}

.tab {
  width: 60px;
}

.medium {
  width: 109px;
}

.backspace {
  width: 114px;
}

.space {
  width: 384px;
}

.button:hover {
  background-color: rgb(180, 180, 180);
}

.button:active {
  background-color: #FFFFFF;
}

.active {
  background-color: #FFFFFF;
  border-radius: 50px;
}